<% if logged_in? %>
  <div class="well row main">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="well col-md-8">
      <h3 id="popbox">Pop Box <%= render 'shared/now_playing' %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1 id="coolify">POPPIN</h1>

    <h2>
      Pop your thoughts. Crunch your friends. Add salt to taste.
    </h2>

    <%= link_to "Let's get Poppin!", login_path, class: "btn btn-lg btn-primary" %>
  </div>

  <!-- <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %> -->
<% end %>