<div class="well">
  <h1 id="coolify-title">New Nibble</h1>
  
  <%= form_tag messages_path, method: :post do %>
    <div class="form-group">
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true, placeholder: "(optional)" %>
    </div>
  
    <div class="form-group">
      <%= label_tag 'message[body]', 'Message' %>
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true, placeholder: "mmm whatcha say..." %>
    </div>
  
    <div class="form-group">
      <%= label_tag 'recipients', 'Choose recipients' %>
      <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
    </div>
  
    <%= submit_tag 'Nibble it!', class: 'btn btn-primary' %>
  <% end %>
</div>