<div class="well">
  <div class="center">
    <h1 id="coolify-title">My Nibbles</h1>
    <%= link_to 'Create a new Nibble', new_message_path, class: 'btn btn-md btn-primary nibble-btn-inbox' %>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <%= mailbox_section 'inbox', @box %>
        <%= mailbox_section 'sent', @box %>
        <%= mailbox_section 'trash', @box %>
      </ul>
    </div>
  
    <div class="col-sm-9">
      <% if @conversations.any? %>
        <% if @box == 'trash' %>
          <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                         data: {confirm: 'Are you sure?'} %></p>
        <% end %>
        <ul class="list-group">
          <%= render partial: 'conversations/conversation', collection: @conversations %>
        </ul>
      
        <%= will_paginate %>
      <% else %>
        <div class="well">
          <h1>This mailbox is empty.</h1>
          <h2>Move along, nothing to see here.</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>