<div class="well">
  <h1 id="coolify-title">Nibble</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render 'conversations/participants', conversation: @conversation %>
      <h5 id="convo-title"><%= @conversation.subject %></h5>
    </div>
    <div class="panel-body">
      <div>
        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <p>
            <% message = receipt.message %>
    
            <%= message.body %> - 
            <%= link_to message.sender.name, user_path(message.sender.id), method: :get, target: '_blank' %> 
            (<%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>)
          </p>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Nibble it!", class: 'btn btn-primary' %>
  <% end %>

</div>

<script>
  $(function(){
    data = <%= raw User.pluck(:name).compact.to_json %>;
    $('textarea').atwho({at:"@", 'data':data });
});
</script>