<% provide(:title, @user.name) %>
<div class="well row">
  <aside class="col-md-4">
    <section>
      <h1 id="coolify-title">
        <%= gravatar_for @user %>
        <span class="title"><%= @user.name %></span>
      </h1>
      <% if current_user == @user %>
        <%= link_to "visit my Pop Box", root_path, class: "popbox" %>
      <% end %>
      <% unless current_user == @user %>
        <%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-default btn-sm nibble-kernel' %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="well col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Pops (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts, id: "kernel-pagination" %>
    <% elsif current_user?(@user) %>
      <h1 class="center">Oh noes!</h1>
      <h2>
        Looks like you haven't Popped any Pops. Head to your 
        <%= link_to "Pop Box", root_path %> 
        and start poppin!
      </h2>
    <% else %>
      <h1>Oh noes!</h1>
      <h2>This user hasn't Popped any Pops. Move along, nothing to see here.</h2>
    <% end %>
  </div>
</div>