<% provide(:title, @title) %>
<div class="well row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <span class="lower">
        <h1 id="coolify-title"><%= @user.name %></h1>
        <span><%= link_to "view my Kernel", @user %></span>
        <span><b>Pops:</b> <%= @user.microposts.count %></span>
      </span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="well col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <div id="follow-pagination"><%= will_paginate %></div>
    <% end %>
  </div>
</div>