<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What's poppin?", maxLength: 200 %>
  </div>
  <span id="chars">200 characters remaining</span>
  <%= f.submit "Pop it!", class: "btn btn-primary" %>
  <!-- <span class="picture">
    <%# f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span> %> -->
<% end %>

<!-- <script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script> -->

<script type="text/javascript">
  var maxLength = 200;
  $('textarea').keyup(function() {
    var length = $(this).val().length;
    var string = " characters remaining"
    var length = maxLength-length+string;
    $('#chars').text(length);
  });
</script>

<script>
  $(function(){
    data = <%= raw User.pluck(:name).compact.to_json %>;
    $('textarea').atwho({at:"@", 'data':data });
});
</script>