@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$threedee: linear-gradient(to left, #0bdad7 , #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$threedee-enhance: linear-gradient(to left, #18e7e4 , #fc1d37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body { 
  background: url(moar_popcorn.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}

/* body { */
  /*padding-top: 60px;*/
  /*background-image: url("moar_popcorn.jpg"); */
/*} */

nav {
  img {
    margin-left: 5px;
  }
}

section {
  overflow: auto;
  .popbox {
    position: relative;
    top: 20px;
  }
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  margin-top: 0px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-darker;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.well, .jumbotron, {
  background-color: rgba(255,255,255, 0.5);
  border: 0px transparent;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  text-shadow: 1px 1px 1px #0bdad7, 2px 2px 1px #FC354C;
}

#coolify {
  color: white;
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
  text-shadow: 7px 7px 1px #0bdad7, 14px 14px 1px #FC354C;
  font-weight: bold;
  position: relative;
  left: -12.5px;
}

#coolify-title {
  color: white;
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
  text-shadow: 2px 2px 1px #0bdad7, 4px 4px 1px #FC354C;
  font-weight: bold;
}

h1 span {
  color: white;
}

.title {
  position: relative;
  top: 20px;
}

.jumbotron h1 {
  font-size: 250px;
}

/* responsive homepage logo */

@media(max-width: 1199px) {
  .jumbotron h1 {
    font-size: 200px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 5.6px 5.6px 1px #0bdad7, 11.2px 11.2px 1px #FC354C;
    font-weight: bold;
  }
}

@media(max-width: 991px) {
  .jumbotron h1 {
    font-size: 150px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 4.2px 4.2px 1px #0bdad7, 8.4px 8.4px 1px #FC354C;
    font-weight: bold;
  }
}

@media(max-width: 650px) {
  .jumbotron h1 {
    font-size: 125px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 3.5px 3.5px 1px #0bdad7, 7px 7px 1px #FC354C;
    font-weight: bold;
  }
}

@media(max-width: 550px) {
  .jumbotron h1 {
    font-size: 100px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 2.8px 2.8px 1px #0bdad7, 5.6px 5.6px 1px #FC354C;
    font-weight: bold;
  }
}


@media(max-width: 480px) {
  .jumbotron h1 {
    font-size: 80px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 2.5px 2.5px 1px #0bdad7, 5px 5px 1px #FC354C;
    font-weight: bold;
  }
  .half {
    display: inline-block;
  }
}

@media(max-width: 350px) {
  .jumbotron h1 {
    font-size: 55px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 2px 2px 1px #0bdad7, 4px 4px 1px #FC354C;
    font-weight: bold;
  }
}

@media(max-width: 260px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  #coolify {
    position: relative;
    left: -4.5px;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: white;
      text-decoration: none;
    }
    text-shadow: 1.5px 1.5px 1px #0bdad7, 3px 3px 1px #FC354C;
    font-weight: bold;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray-darker;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    /*float: right;*/
    list-style: none;
    li {
      /*float: left;
      margin-left: 15px;*/
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 0px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.lower {
  position: relative;
  top: 13px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
      &:hover {
        text-decoration: none;
        color: #fc1d37;
      }
    }
    &:hover {
      text-decoration: none;
      color: #18e7e4;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

div.user_avatars_savor.dropdown-menu {
  min-width: 106px;
}

.dropdown-menu-form {
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
    max-height: 144px;
    max-width: 40px;
    overflow-y: scroll;
}

#chars {
  padding-bottom: 3px;
  padding-top: 0px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#micropost_content {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .user_avatars_savor .gravatar {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* buttons, etc. */

.btn-primary,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled {
  background: $threedee;
  border: white;
}

.btn-primary:hover,
.btn-primary:active {
  background: $threedee-enhance;
  border: white;
}

.users li {
  margin-right: 39px;
}

.btn-gray {
  background: LightGray;
}

#like {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
}

/* pagination */

.pagination {
  margin: 0px 0px 0px 0px;
}

#home-pagination {
  margin: 0px 0px 0px 0px;
}

#kernel-pagination {
  margin: 0px 0px 0px 0px;
}

#follow-pagination {
  margin: 20px 0px 0px 0px;
}

#crunch-btn, #uncrunch-btn {
  margin-bottom: 10px;
}

#donate {
  width: 100px;
  border: 0px;
}

#unread {
  background: #0bdad7;
  color: white;
  font-weight: bold;
  border-radius: 100px;
}

.pull-right {
  padding-top: 28px;
  padding-right: 10px;
  padding-left: 10px;
}

@media(max-width: 564px) {
  .pull-right {
    padding-top: 38px;
  }
}

.trash-only, .restore-only {
  margin-top: 11px;
}

#convo-info {
  float: left;
}

.panel-heading {
  padding: 0px 0px 0px 0px;
  display: flex;
}

.nibble-kernel {
  margin-top: 23px;
}

.nibble-btn-inbox {
  margin-bottom: 10px;
}

.participant-gravatars {
  .gravatar {
    margin-right: 0px;
  }
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
  overflow: scroll;
}

.participant-gravatars-two {
  .gravatar {
    margin-right: 0px;
  }
  max-width: 80px;
  max-height: 40px;
  min-width: 80px;
  min-height: 40px;
  overflow: scroll;
}

#convo-title {
  margin-top: 32px;
  margin-left: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}

.now-playing {
  float: right;
  .gravatar {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

#now-playing-btn {
  width: 106px;
}