<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid" id="navfluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag("pop.png", :alt => "pop", height: '40', width: '32.5', id: "logo") %>
      <%= link_to "poppin", root_path, id: "logo" %>
    </div>
    
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li>
            <a href="/conversations">Nibbles 
              <% if current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true) > 0 %>
                <span class="badge" id="unread">
                  <%= current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true) %>
                </span>
              <% end %>
            </a>
          </li>
          <li><%= link_to "The Popper", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Kernel", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Pop out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Pop in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>